# Til þess að uploada ekki client-commandline frá OpenVR-InputEmulator
client-commandline

# Ignora VSCode og Visual Studio
.vscode
.vs

# Ignora temporary Json files
static_json/SteamVRDevices.json

# Ignora temp commands file sem er automatically búið til
temp_commands.bat